body {
    margin: auto;
    font-family: Arial;
    background-color: #000;
    background-image: url(../imgs/vinyl3.jpg);
    background-position: top center;
    background-repeat-y: repeat;
}

/* HEADER */

#forkMe {
    position: absolute;
    top: 0;
    right: 0px;
}

h1#soundbox-title {
    margin: 50px 0 40px;
    text-align: center;
}

h1 #logo {
    margin-right: 10px;
}

/* FIN HEADER*/

section.container-fluid {
    background-color: rgba(255,255,255,0.9);
    margin-bottom: 40px;
    min-height: 400px;
}
section.container-fluid .container{margin-bottom: 20px;}

.btn {
    margin-top: 20px;
}
.cont-btn {padding: 0px!important;}
.cont-btn button{height: 40px;width: 98%; text-align: center;}
.cont-btn button.btn.btn-default{background-image: none; background-color: #FFFFFF;}

/* FOOTER */
footer{background-color: rgba(0,0,0,0.9); text-align: center; height: 30px;}
footer p{line-height: 30px; margin-bottom: 0px;}
