body{
  margin:auto;
  font-family:Arial;
  background-image: url(../imgs/vinyl3.jpg);
  background-color: #000;
  background-position: top center;
  background-repeat-y: repeat; 
}

h1#soundbox-title{text-align:center; margin: 50px 0 40px;}

#logo{
  margin-right: 10px;
}

#forkMe{
  position: absolute;
  right: -15px;
  top: 0px;
}

.btn{margin-top: 10px;}
